JWT_SECRET=change-this-to-a-strong-random-secret-in-production
PORT=4000
DATABASE_PATH=/home/data/data.db

GROQ_API_URL=https://api.groq.com/openai/v1/chat/completions
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
